.profile__table {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

@media screen and (max-width: 735px) {
    .profile__table {
        width: 100%;
        gap: 27px;
    }
}

@media screen and (max-width: 539px) {
    .profile__table {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 436px) {
    .profile__table {
        flex-direction: column;
    }
}