.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-height: 33px;
  width: 100%;
}

.popup__input:first-of-type {
  margin-bottom: 22px;
}

.popup__input:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 385px) {
  .popup__input:last-of-type {
    margin-bottom: 44px;
  }
}

.popup__input:focus {
  outline: none;
}