.profile__info {
    position: relative;
    width: calc(100% + 42px);
}

@media screen and (max-width: 735px) {
    .profile__info {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}