.profile__button_edit {
    position: absolute;
    top: 15px;
    right: -42px;
}

@media screen and (max-width: 735px) {
    .profile__button_edit {
        right: 0;
        top: 8px;
    }
}

@media screen and (max-width: 539px) {
    .profile__button_edit {
        width: 18px;
    }
}